@use '../../assets/scss/style.scss' as *;

.greeting {
    @include container;
    @include subtitle;
    text-align: center;

    .btn {
        margin-top: 50px;
        display: inline-block;
        background-color: #2DB34A;
        color: #fff;
        padding: 10px 15px;
        border-radius: 15px;
    }
}