@use '../../assets/scss/style.scss' as *;

.greeting {
    @include subtitle;
    margin: 40px 0 50px;

    .conteiner {
        @include container;
    }

    .btn_link {
        display: block;
    }

    .accent {
        color: $colorMain;
    }
}