@use '../../assets/scss/style.scss' as *;

.options {
    @include container;
    @include subtitle;

    .title {
        margin-top: 30px;
        text-align: center;
    }

    .categories {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .link_courier {
        color: $colorMain;
    }

    .link_customer {
        color: $colorComplementaryText;
    }
}