@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
//  font-family: "Nunito", sans-serif;

body,
html {
    height: 100%;
    font-family: $mainFontText;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@mixin caption {
    @include adaptiv-font(24, 26);
}

@mixin title {
    @include adaptiv-font(22, 24);
}

@mixin subtitle {
    @include adaptiv-font(20, 18);

    @media (max-width: 768px) {
        @include adaptiv-font(24, 22);
    }
}

@mixin link {
    @include adaptiv-font(20, 18);

    @media (max-width: 768px) {
        @include adaptiv-font(26, 24);
    }
}

@mixin container {
    max-width: $maxWidth + px;
    margin: 0 auto;
    padding: 0 25px;
}