@use '../../assets/scss/style.scss' as*;

.application {
    width: 100%;
    margin: 10px 0;
    border: 1px solid $colorMain;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #000;
    @include subtitle;

    .img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        object-fit: contain;
    }

    .description {
        flex: 1 100%;
        margin-top: 10px;
    }

    .block_info {
        flex-grow: 1;
        padding: 0 0 0 10px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .title {}

    .weight {
        margin-top: 10px;
    }

    .destination {
        margin-top: 10px;
        color: $colorMain;
    }
}